<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
    <body>
        <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
        <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>

        <div class="container my-4">
            <h3 th:text="${title}"></h3>



            <a th:href="@{/users/form}" th:text="'crear user (+)'" class="btn btn-secondary"></a>
            <div th:text="'No hay usuarios en el sistema!'" th:if="${#lists.isEmpty(users)}" ></div>

            <table th:if="${not #lists.isEmpty(users)}" class="table table-hover talbe-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>lastname</th>
                    <th>email</th>
                    <th>create at</th>
                    <th>edit</th>
                    <th>remove</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="user: ${users}">
                    <th th:text="${user.id}"></th>
                    <th th:text="${user.name}"></th>
                    <th th:text="${user.lastname}"></th>
                    <th th:text="${user.email}"></th>
                    <th th:text="${user.createdAt}"></th>
                    <td><a class="btn btn-sm btn-primary" th:href="@{/users/form/} + ${user.id}" >edit</a></td>
                    <td><a class="btn btn-sm btn-danger" th:href="@{/users/delete/} + ${user.id}"
                           onclick="return confirm('¿Esta seguro que desea eliminar? ')">remove</a></td>
                </tr>
                </tbody>

            </table>
        </div>
    </body>
</html>