/* General settings */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.principal {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
}

.titulo h1 {
    text-align: center;
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
    font-weight: 700;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: #555555;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 93%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
}

input:focus {
    outline: none;
    border-color: #4facfe;
    box-shadow: 0px 0px 5px rgba(79, 172, 254, 0.8);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4facfe;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #007bff;
}

/* Responsive design */
@media (max-width: 480px) {
    .principal {
        padding: 15px 20px;
    }

    .titulo h1 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
    }
}
